.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* home page */
.home {
  background-color: #121217;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  color: #FFFFFF;
  font-family: href="https://fonts.googleapis.com/css?family=Inter";
}

.home-maintext {
  animation: fadeIn 3s;
  font-size: 68px;
}

.home-subtext {
  animation: fadeIn 4s;
  font-size: 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }

  from { transform : translateY(20%) }
  to   { transform : translateY(0%) }
}

.left-circle {
  animation: leftCircleFadeIn 2s;
  height: 70vh;
  width: 70vh;
  background:linear-gradient(#FFEDED, #121217);
  border-radius: 50%;
  position: absolute;
  top:20vh;
  left:-40vh;
}

.right-circle {
  animation: rightCircleFadeIn 2s;
  height: 70vh;
  width: 70vh;
  background:linear-gradient(#FFEDED, #121217);
  border-radius: 50%;
  position: absolute;
  top:20vh;
  right:-40vh;
}

@keyframes rightCircleFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }

  from { transform : translateX(50%) }
  to   { transform : translateY(0%) }
}

@keyframes leftCircleFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }

  from { transform : translateX(-50%) }
  to   { transform : translateY(0%) }
}
