@import url('~/src/App.css');

:root {
  --font-size-m: 8px;
  --font-size-l: 10px;
  --font-size-xl: 20px;

}

.home-container {
  background-color: var(--bg);
  /* display: flex;
  flex-wrap: wrap; */
  font-family: href="https://fonts.googleapis.com/css?family=Inter";
}

.whysub{
    opacity: 0.8;
    margin: auto;
    text-align: center;
    max-width: 850px;
    padding: 10px 40px;
}

.about {
  width: max-content;
  padding: 10px 20px;
  font-size: 18px;
}

.what-is {
  padding: 4rem 0rem;
  text-align: center;
  font-size: 1.4rem;
}

.what-is-title {
  padding: 50px 20px 20px 20px;
  font-size: 40px;
  font-weight: 550;
  margin: auto;
  text-align: center;
}

a:link {
  /* color: rgb(0, 0, 0); */
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  /* color: rgb(0, 0, 0); */
  background-color: transparent;
  text-decoration: none;
}

.left {
  border-radius: 15px;
  background-color: #EDF5FF;
  display: flex;
  justify-content: left;
  align-items: center;
  
  /* display: inline-flex; */
} 

.right {
  border-radius: 15px;
  background-color: #F5EDFF;
  display: flex;
  justify-content: left;
  align-items: center;
  /* display: inline-flex; */
}

.img-left > img{
  transform: scale(1.3);
}

.img-right > img{
    transform: scale(1.3) translateX(-10px);
  }
.details-container {
  color: #000000;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.details-container > div {
  width: 570px;
  height: 300px;
  /* padding: 3rem; */
}

/* .details-container > div:hover {
  scale: 1.02;
} */
.details-left{
    width: calc(100% - 230px);
    padding-left: 40px;

}
.details-left__h1{
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}
.details-left__p{
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
    opacity: 0.8;
    line-height: 25px;

}

.details-left__h2{
    padding-top: 10px;
}

.details-right{
    width: calc(100% - 230px);
    padding-left: 40px;

}
.details-right__h1{
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}
.details-right__p{
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
    opacity: 0.8;
    line-height: 25px;

}

.details-right__h2{
    padding-top: 10px;
}
/* .details-container > div > h3 {
  padding: 1rem 0rem 1.4rem 0rem;
  font-size: 1.35rem;
  font-weight: 700;
}

.details-container > div > p {
  font-size: 1.35rem;
  font-weight: 300;
} */

@media screen and (max-width: 1280px) {
  .details-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

@media screen and (max-width: 912px) {
  /* .left {
    flex-direction: column;
  } 

  .right {
    flex-direction: column;
  } */
}